@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    
  --blue-300: #154390;
  --blue-200: #3566b9;
  --blue-500: #081837;
  --cyan-100: #5ABDD5;
  --grey-50:#E5E5E5;
    --grey-100:#989595;
  --black-100:#333333;
  --white:#ffffff;
}
*{
font-family: 'Poppins', sans-serif;
font-size: 16px;
}
