/*@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,1000&family=Roboto:wght@100&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root {
        
    --blue-300: #154390;
    --blue-200: #3566b9;
    --blue-500: #081837;
    --cyan-100: #5ABDD5;
    --grey-50:#E5E5E5;
    --grey-100:#989595;
    --black-100:#333333;
    --white:#ffffff;
    --yellow-100:#FFE08A;
    --red-100:#F14668;
    --green-100:#48C78E;
}
*{
font-family: 'Open Sans', sans-serif;
font-size: 16px;
}
