@import "./reset.css";
@import "./confingBasic.css";
@import "./resgistro-incidencias.css";

.inicio__body{
    min-height:100vh;
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    

    padding-left: 100px;
 /*    overflow-x: hidden; */
 
}

.inicio__navegation{

    position: fixed;
    inset: 20px;
    background:var(--blue-300);
    width: 80px;
   /*  border-left: 10px solid var(--blue-300) ; */
    border-radius:50px;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.05);
    transition: 0.5s;
    z-index: 9000;
}
.active{
    width:300px;
    border-radius: 20px;
}

.inicio__navegation-toggle
{
   position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    display:flex;
    justify-content:center;
    align-items:center; 
}
.inicio__navegation-toggle::before
{
    content:"";
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background:var(--blue-300);
    transform:translateY(-5px) ;
    transition: 1s;  
}
.inicio__navegation-toggle::after
{   content:"";
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background:var(--blue-300);
    transform:translateY(5px) ;
    transition: 1s;
}

.active .inicio__navegation-toggle::before
{
    transform: translateY(0px) rotate(-405deg);

}
.active .inicio__navegation-toggle::after
{
    transform: translateY(0px) rotate(225deg);
}
.inicio__navegation-ul
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:10px;
}
.inicio__navegation-li ,.inicio__navegation-li-user
{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px ;
    
}
.inicio__navegation-li:hover
{
   background:var(--cyan-100);  
   color:var(--blue-300);  
}
.inicio__navegation-li-user{
    top:20px;
    margin-bottom: 60px;
    background:none;
    font-weight: 700;  
}

.inicio__navegation-li:hover::before
{
    content:"";
    position: absolute;
    top:-20px;
    right:0;
    width:20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow:7.5px 7.5px 0 7.5px var(--cyan-100);
}
.inicio__navegation-li:hover::after
{
    content:"";
    position: absolute;
    bottom:-20px;
    right:0;
    width:20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow:7.5px -7.5px 0 7.5px var(--cyan-100);
}

.inicio__navegation-a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:#fff;   
}
.inicio__navegation-icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}
.inicio__navegation-svg{
    width: 28px;
    height: 28px;
    font-size: 1.75em;
}
.inicio__navegation-title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space:nowrap;
}  



/* media queries */
@media screen and (max-width: 767px) {

.active{
    width:200px;
    border-radius: 15px;
}


}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .inicio__main{
        padding-left:7.5rem;
    }

}
@media screen and (min-width: 992px) {

}