
.listContainer{
    border:1px solid var(--cyan-100);
    width: 95%;
    height: 90%;
    border-radius: 5px;
    padding: 30px;
    overflow: auto;
     /* Habilita la barra de desplazamiento cuando la tabla desborde el contenedor */
}

.listContainer__tabla-svg{
     width: 25px;
    height: 25px;

}
.listContainer__btns{
    display:flex;
    gap:2px;
    justify-content: center;
    align-items: center;
}

.listContainer__btn-editar ,.listContainer__btn-eliminar ,.listContainer__btn-ver{
    height:30px;
    width: 50px;
    border: none;
    border-radius:0.2rem;
    color:var(--white);
    transition:0.3s ease;
    cursor: pointer;
    padding: 1px;
}

.listContainer__btn-editar{
  background-color:var(--yellow-100);
}
.listContainer__btn-ver{
background-color:var(--green-100);
}
.listContainer__btn-eliminar{
background-color:var(--red-100);
}
.listContainer__btn-editar:hover{
 background:var(--blue-300); 
}
.listContainer__btn-ver:hover{
 background:var(--blue-300); 
}
.listContainer__btn-eliminar:hover{
 background:var(--blue-300); 
}
/* tabla para mostrar detalle */

.listContainer__detalle{
}
.listContainer__detalle-table{
       width: 100%;
      border-collapse: collapse;
}
    .listContainer__detalle-th, .listContainer__detalle-td {
      padding: 3px;
      text-align: left;
      border-bottom: 1px solid #ddd;
     font-size:14px
    }

    .listContainer__detalle-th{
      background-color: #f2f2f2;
    }
/*  formulario para editar  */
.listContainer__form-edit{
    border:1px solid green;
}
.listContainer__form-group{
display:flex;
width: 90%;
gap:0.8em;
}
.listContainer__form-field{
display:flex;
flex-direction:column;
flex: 1;
  min-width: 0; /* Evita que el contenido exceda el ancho del contenedor */
  padding: 10px;
}
.listContainer__form-label{
   color:var(--black-100);
    font-weight: 500;
    font-size: 0.85rem;
    text-align: left;
    margin-left: 1rem;
    
}
.listContainer__form-input{
    border:1px solid var(--grey-50);
    height:2.8125rem;
    padding: 0 1rem 0 1rem;
    border-radius: 0.3125rem;
    text-transform: uppercase;
}
::placeholder{
    color:var(--grey-100);
    font-size: 0.85rem;
}
.listContainer__form-select{
    border:1px solid var(--grey-50);
   /*  width:18.625rem; */
    height:2.8125rem;
    padding: 0 1rem 0 1rem;
    border-radius: 0.3125rem;
    background-color: white;
    color: var(--black-100);
    text-transform: uppercase;
}
.listContainer__form-textarea{
height: 3.25rem;
resize: none; 
border:1px solid var(--grey-50);
padding: 1rem;
border-radius:0.3125rem;
}
.listContainer__form-select-option{
border:1px solid var(--grey-50);
}

