@import "./reset.css";
@import "./confingBasic.css";

.body{

width: 100vw;
height: 100vh;
display:flex;
 flex-direction:column;
 align-items: center;
 justify-content: center;
}
.login__img{
    height:150px;
}
.login__svgImg{
   max-width:100%;
   height: auto;

}
.login__section{
    /* box-shadow: 0.2rem 0.5rem 1rem #37373716; */
    padding: 1rem;
    border-radius: 0.625rem; 
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-items: center;
    border:1px solid var(--cyan-100);
}
.img-body__section {
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 35vw;
    opacity: 0.8;
 }

.login__title{
margin-bottom: 3rem;
color:var(--blue-300);
font-size: 2.5vh;
font-weight:800;
text-align: left;
}
.login__h1{
    font-size: 1rem;
    color:var(--cyan-100);
    font-weight: 700;
      margin-bottom: 2rem;
}
.login__form{
display:flex;
flex-direction:column;
align-items: center;  
gap:1rem
}
.login__div{
    display:flex;
    flex-direction:column;
    gap:0.5rem
}
.login__label{
    color:var(--black-100);
    font-weight: 500;
    font-size: 0.85rem;
    
}
.login__input{
    border:1px solid var(--grey-50);
    width:18.625rem;
    height:3rem;
    padding: 0 1rem 0 1rem;
    border-radius: 0.3125rem;
}
::placeholder{
    color:var(--grey-100);
    font-size: 0.85rem;
}
.login__input:focus{
border:2px solid var(--cyan-100); 
  color: var(--black-100);

}

.login__button{
background-color: var(--cyan-100);
width:18.625rem ;
height:3.5rem;
border: none;
box-shadow: 0px 3px 6px -2px rgba(107,106,106,1);
border-radius: 0.3125rem;
color:var(--white);
font-size:1.125rem;
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
transition:  0.3s ease;
}
.login__button:hover{
     box-shadow: none;
      background-color: var(--blue-300);

}
.login__button:active {
  transform: translateY(4px); 
}
.login-footer{
    margin-top:2rem;
     display:flex; 
     justify-content: space-around;
        gap:2rem;
}


.login-footer__a{
    text-decoration: none; 
   display:flex;
   gap:0.2rem;
   color:var(--grey-100);

}

.login-footer__a:hover{
    color:var(--black-100);
    font-weight: 500;
}
.login-footer__span{
    font-size: 0.85rem;
}

 .swal2-confirm {
        background-color: #19459D ;
        border: none ; /* Elimina los bordes */
        box-shadow: none ; /* Elimina la sombra del botón */
    }

/* media queries nueva sintaxis */

@media (width >= 768px ){
}

@media (768px <= width <= 991px) {
  
}
@media (992px <= width ) {
  
}
/* media queries */
@media screen and (max-width: 767px) {
 .img-body__section{
    display:none;
 }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  *{
font-size: 18px;
}
 .img-body__section{
    display:none;
 }
}
@media screen and (min-width: 992px) {
    .body{
 flex-direction: row;
 gap:3rem
    }
 .img-body__section{
    display:auto;
    
 }
 .login__section{
    padding: 3rem;
 }
}