
*{
    outline: none;
}
/* contenerdor de toda la seccion */

.addIncidents__container{
    border:1px solid var(--cyan-100);
    width: 70%;
    height: 90%;
    border-radius: 5px;
    background:#fff;
    text-align: center;
   /*  box-shadow: 0.4rem 0.9rem 2rem #17181d63; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}
.addIncidents__container>*{
    width: 80%;
}
/* primer hijo del contenedor */

.addIncidents__container-header{
    font-size: 35px;
    font-weight:600;
}

.addIncidents__form-outer{
    width:80%;
     overflow: hidden; 
}

.addIncidents__form{
    display: flex;
    width: 400%; 
}

.addIncidents__form-page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5em;
}
.addIncidents__form-page>*{
    width: 95%;
}
.addIncidents__form-group{
display:flex;
width: 100%;
gap:0.5em;
}

.addIncidents__form-group>*{
    width: 33.333%;
}
.addIncidents__form-subgroup{
display:flex;
}
.addIncidents__form-textarea{
height: 6.25rem;
resize: none; 
border:1px solid var(--grey-50);
padding: 1rem;
border-radius:0.3125rem;
}
.addIncidents__form-title{
 text-align: left;
font-size:25px;
font-weight: 500; 
}
.addIncidents__form-field{
    display:flex;
    flex-direction:column;
   /*  gap:0.5rem; */

}
.addIncidents__form-label{
    color:var(--black-100);
    font-weight: 500;
    font-size: 0.85rem;
    text-align: left;
    margin-left: 1rem;

}
.addIncidents__form-input{
    border:1px solid var(--grey-50);
    height:2.8125rem;
    padding: 0 1rem 0 1rem;
    border-radius: 0.3125rem;
    text-transform: uppercase;
}
::placeholder{
    color:var(--grey-100);
    font-size: 0.85rem;
}
.addIncidents__form-option{
  color:var(--grey-100);
    font-size: 0.85rem;
}
.addIncidents__form-select{
    border:1px solid var(--grey-50);
   /*  width:18.625rem; */
    height:2.8125rem;
    padding: 0 1rem 0 1rem;
    border-radius: 0.3125rem;
    background-color: white;
    color: var(--black-100);
    text-transform: uppercase;
 
}
.addIncidents__form-select-option{
border:1px solid var(--grey-50);

}
.addIncidents__form-select-option:hover{
   background-color: var(--cyan-100); 
}
.btns{
    flex-direction: row;
    text-align: center;
    gap:1rem;

}
.addIncidents__form-btn{
background-color:var(--cyan-100);
/* width:18.625rem ; */
height:3.2rem;
border: none;
/*  box-shadow: 0.4rem 0.9rem 2rem #17181d63; */
border-radius:0.3125rem;
color:var(--white);
font-size:1.125rem;
font-weight: 500;
letter-spacing: 1px;
text-align: center;
justify-content: center;
text-transform: uppercase;
transition:  0.3s ease;
cursor: pointer;
width: 100%;
padding-top: 1rem;
margin-top: 1.5rem;
}
.addIncidents__form-btn:hover{
 background:var(--blue-300); 
}

.addIncidents__progress-bar{
    display: flex;
    margin:0 20px;
    width: 70%;
}
.addIncidents__progress-step{
    position: relative;
    text-align: center;
    width: 100%;
}
.addIncidents__progress-title{
    font-size:18px;
    font-weight: 500;
    color:#000;
    margin-bottom: 8px;
    transform: 0.2s;
}
.addIncidents__progress-title.spot-light{
 color:var(--cyan-100);
}
.addIncidents__progress-bullet{
    position: relative;
    height: 30px;
    width: 30px;
    border:2px solid #000;
    display: inline-block;
    border-radius: 50%;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    transition: 0.2s;

}
.addIncidents__progress-bullet.spot-light{
    border-color:var(--cyan-100);
    background:var(--cyan-100);
}

.addIncidents__progress-step:last-child .addIncidents__progress-bullet::before,
.addIncidents__progress-step:last-child .addIncidents__progress-bullet::after{
    display: none;
}
.addIncidents__progress-bullet::before,.addIncidents__progress-bullet::after{
position: absolute;
content:'';
bottom: 11px;
right: -45px;
height: 3px;
width:120%;
background: #262626;
}
.addIncidents__progress-bullet.spot-light:after{
    background:var(--cyan-100);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate  0.3s linear forwards;

}
@keyframes animate{
100%{
    transform: scaleX(1);
}
}
.addIncidents__progress-number{
    font-weight: 500;
    font-size:17px;
    line-height: 25px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
 .addIncidents__progress-bullet.spot-light .addIncidents__progress-number{
    display:none
}

.addIncidents__progress-check{
position: absolute;
left: 51.5%;
top:76%;
transform: translate(-50%,-50%);
 display:none; 
width:20px ;

}
.addIncidents__progress-check.spot-light{
     display:block;
     color:white;
}














/* media queries */
@media screen and (max-width: 767px) {
.addIncidents__container{
    padding:10px ;
    }

.addIncidents__container-header{
    font-size:1.625rem;
    margin: 0;
}
.addIncidents__container{
    width: 95%;
    height: 98%;
    gap: 0.5rem;
    
}
.addIncidents__container>*{
    width: 95%;
}

.addIncidents__progress-bar{
    margin:0px;
    width: 60%;
}
.addIncidents__form-title{
font-size:1.3rem;
}
.addIncidents__progress-title{
    font-size: 0.875rem;
}

.addIncidents__form-outer{
    overflow-y: auto; 
}

.addIncidents__form-group{
gap:0.25em;
}
.addIncidents__form-group>*{
    width: 33.333%;
}
.addIncidents__form-subgroup{
display:flex;
}
.addIncidents__form-textarea{
height: 5.25rem;
}

.addIncidents__form-label{
    font-size: 0.875rem;
    text-align: left;
    margin-bottom: 0.3rem;
    margin-left: 0;

}
.addIncidents__form-input{
height: 2rem;
 font-size: 0.9rem;
}
.addIncidents__form-option{
     font-size: 0.875rem;
}
::placeholder{
       font-size: 0.875rem;
}
.addIncidents__form-select{
   height:2rem;
   font-size: 0.9rem;
}

.btns{
    flex-direction: row;
    text-align: center;
    gap:1.5rem;

}
.addIncidents__form-btn{
padding-top:0.8em;
margin-top: 0;
}
.submit{
padding-bottom: 0.8em;
}













}
@media screen and (min-width: 768px) and (max-width: 991px) {
.addIncidents__container{
    padding:20px ;
    }

.addIncidents__container-header{
    font-size:2rem;
    margin-top: 0.5rem;
}
.addIncidents__container{
    width: 90%;
    height: 90%;
    gap: 1rem;
    
}
.addIncidents__container>*{
    width: 95%;
}

.addIncidents__progress-bar{
    margin:0px;
    width: 90%;
}
.addIncidents__form-title{
font-size:1.3rem;
}
.addIncidents__progress-title{
    font-size: 1rem;
}

.addIncidents__form-outer{
    overflow-y: auto; 
}

.addIncidents__form-group{
gap:0.5rem;
}
.addIncidents__form-group>*{
    width: 33.333%;
}
.addIncidents__form-subgroup{
display:flex;
}
.addIncidents__form-textarea{
height: 6.25rem;
}

.addIncidents__form-label{
    font-size: 0.875rem;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-left: 0;

}
.addIncidents__form-input{
height: 2rem;
 font-size: 1rem;
}
.addIncidents__form-option{
     font-size: 0.875rem;
}
::placeholder{
       font-size: 0.875rem;
}
.addIncidents__form-select{
   height:2rem;
   font-size: 1rem;
}

.btns{
    flex-direction: row;
    text-align: center;
    gap:1rem;

}
.addIncidents__form-btn{
padding-top:0.8em;
margin-top: 0;
}
.submit{
padding-bottom: 0.8em;
}
/* --------------- */
   .addIncidents__progress-bullet::before,.addIncidents__progress-bullet::after{

right: -90px;
width: 250%;

}
.addIncidents__progress-check{

left: 51%;
top:75%;

}









}
@media screen and (min-width: 992px) {
    .addIncidents__form-label{
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0.8rem;
    margin-left: 0;

}
    .addIncidents__progress-bullet::before,.addIncidents__progress-bullet::after{

right: -150px;
width: 450%;

} 
.addIncidents__progress-check{

left: 50.5%;
top:74.5%;


}  

}